<H3>PAIS</H3>
<button routerLink="/postPais">añadir pais</button>
<br>
<button routerLink="/buscarPaises">buscar todos los paises</button>
<br>
<button routerLink="/buscarUnPais">buscar un pais</button>
<br>
<button routerLink="/borrarPais">eliminar pais</button>
<br>
<button routerLink="/patchPais">editar pais</button>
<br>
<button routerLink="/putPais">cambiar pais</button>
<br>
<h3>METODOS PERSONALIZADO</h3>
<button routerLink="/getPromedio">buscar promedios</button>
<button routerLink="/getPromedioPais">buscar Promedio Pais</button>
