<h6>provincia que queres actualizar</h6>
<input type="text" [(ngModel)]="pais" placeholder="pais" name="pais" required>
<br>
<input type="text" [(ngModel)]="provincia" placeholder="provincia" name="provincia" required>
<br>
<h6>nuevos atributos</h6>
<input type="text" [(ngModel)]="nuevoNombre" placeholder="nuevoNombre" name="nuevoNombre" required>
<br>
<input type="text" [(ngModel)]="ciudad" placeholder="ciudad" name="ciudad" required>
<br>
<button (click)="PutProvincia()"> submit </button>

<button routerLink="/provincia"> Volver </button>
